:root{
    --cor-verde-claro: #7ed957;
    --cor-verde-escuro: rgb(108, 221, 59);
}

.corpo{
    height: 100vh;
    width: 80vw;
    background-color: white;
    align-content: center;
}

/* Criando formulario */
.formulario{
    height: 80vh;
    width: 60vw;
    margin-top: -30%;
    margin: 0 auto;
}
.titulo{
    margin-left: 3%;
    font-family: 'Open Sans';
    font-size: 49px;
}
.texto{
    margin-top: 1%;
    margin-left: 3%;
    font-size: 28px;
}
textarea{
    padding-top: 1%;
}
.campos_form{
    margin-top: 10px;
    height: 7%;
    width: 100%;
    font-size: 24px;
    padding-left: 10px;
}
.campo_nome{
    width: 49%;
}
.campo_sobrenome{
    margin-left: 2%;
}

.data_nascimento_form{
    width: 12%;
    margin-left: 1.5%;
}

/* Div para alinha a parte de genero e o botão abrir conta */

.genero_abrir_conta{
    height: 20%;
    width: 100%;
    display: flex;
    align-items: center;
}

/* Separar radio e texto */

.junta_radio_texto{
    margin-left: 2vw;
    display: flex;
}

/* Parte de genero */

.genero_checkbox{
    background-color: white;
    transform: scale(2);
    margin-right: 20px;
}

/* genero texto */
.genero_texto{
    margin-top: -1vh;
}

/* Botão abrir conta */
.botao_abrir_conta{
    height: 7vh;
    width: 15vw;
    margin-left: 19vw;
    border: 0px solid;
    background-color: var(--cor-verde-claro);
}
.botao_abrir_conta:hover{
    background-color: var(--cor-verde-escuro);
}

@media only screen and (max-width: 1026px) {
    .corpo{
        width: 100vw;
    }
    .formulario{
        width: 100vw;
        margin-top: -30%;
    }
    .data_nascimento_form{
        width: 24%;
    }
    .genero_abrir_conta{
        display: block;
    }
    .junta_radio_texto{
        margin-top: 2vh;
        margin-left: 6%;
    }
    .botao_abrir_conta{
        margin-top: 2vh;
        margin-left: 55%;
        width: 40vw;
    }
}