:root{
    --cor-laranja-escuro: #fa8136;
    --cor-verde: #7ed957;
    --cor-verde-escuro: #62ad42;
}
.corpo{
    height: 100vh;
    width: 100vw;
    text-align: center;
    align-items: center;
    background-image: url("../img/img index/Fundo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
}
.titulo{
    font-size: 8vw;
    color: white;
}

/* section 2 */
.artista{
    color: white;
    border-radius: 1.5em;
    height: 10vh;
    width: 70%;
    border: 0px solid;
    font-size: 150%;
    background-color: var(--cor-verde);
}
.artista:hover{
    background-color: var(--cor-verde-escuro);
}