:root{
    --cor-verde: #7ed957;
    --cor-verde-escuro: #57a535;
    --cor-azul: #4b6892;
    --cor-azul-escuro: #4b5192;
    --cor-azul-claro: #38b6ff;
}
.corpo{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 50% 50%;
    background-image: url("../img/img login/background login.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.parte1{
    height: 100%;
    width: 100%;
    /* background-color: green; */
    text-align: center;
}
.titulo{
    margin-top: 9%;
    font-size: 400%;
    color: white;
}
.texto{
    font-size: 140%;
    color: white;
}
.box1{
    height: 55%;
    width: 65%;
    background-color: white;
    margin: 0 auto;
    margin-top: 10px;
}

/* Formulario */

.campos_form{
    height: 13%;
    width: 90%;
    margin-top: 5%;
    font-size: 120%;
    padding-left: 10px;
}
.botao_enviar{
    background-color: var(--cor-verde);
    border: solid 0px;
    font-weight: bold;
    padding-left: 0px;
}
.botao_enviar:hover{
    background-color: var(--cor-verde-escuro);
}
.esquece_senha{
    margin: 2% 0%;
    color: var(--cor-azul);
    padding-left: 0px;
}
.divisao{
    margin: 0 auto;
    width: 90%;
}
.botao_azul{
    font-weight: bold;
    background-color: var(--cor-azul-claro);
    border: solid 0px;
    margin-top: 12%;
}
.botao_azul:hover{
    background-color: var(--cor-azul-escuro);
}

/* Parte 2 */
/* Mensagem */

.container_img{
    height: 100%;
    width: 100%;
    align-content: center;
    text-align: center;
}
.mensagem{
    width: 90%;
}

/* Campos de recuperação da conta */
.campos_form_recuperacao{
    margin-top: 2%;
}
.titulo2{
    margin-top: -4%;
    font-size: 300%;
    color: black;
}
.texto_rec_senha{
    color: black;
}
.box2{
    margin-top: 23%;
    align-content: center;
}

@media only screen and (max-width: 1026px) {
    .corpo{
        display: block;
        background-repeat: repeat;
        height: auto;
        overflow: hidden;
    }
    .parte1{
        height: 70vh;
        border-bottom: 2px solid;
        border-color: whitesmoke;
    }
    .box1{
        height: 50vh;
        width: 90vw;
    }
    .titulo{
        margin-top: 10%;
    }
    /* Campos de recuperação da conta */
    .titulo2{
        margin-top: 0%;
    }
}