:root{
    --cor-branco: #d9d9d9;
}
.sino{
    height: 5vh;
    margin-left: 70%;
}
.corpo{
    padding-top: 1px;
    height: 90vh;
    background-color: white;
    overflow-y: auto;
    overflow-x: hidden;
}
.infors{
    height: 20vh;
    width: 90vw;
    margin: 2vh 5vw;
    display: grid;
    grid-template-columns: 12% 66% 22%;
    border-bottom: 2px solid;
    border-color: var(--cor-branco);
}
/* O infors end e a ultima linha para remover border-bottom: 2px solid;*/
.infors_end{
    border: 0px solid;
}
.icone{
    width: 67%;
    margin: 0 auto;
}
.infors_box1{
    height: 100%;
    align-content: center;
    font-size: 150%;
}
.data{
    margin-top: 10%;
}

@media only screen and (max-width: 1026px) {
    .sino{
      margin-left: -5vw;
    }
    .icone{
        margin-top: 8vh;
    }
    .infors_box1{
        font-size: 90%;
    }
    .data{
        font-size: 120%;
        margin-top: 5vh;
    }
}