:root{
    --cor-amarela: #ffde59;
    --cor-amarelo-escuro: #f7d036;
}
.corpo{
    height: 100vh;
    width: 100vw;
    background-color: white;
    text-align: center;
    background-image: none;
    display: grid;
    grid-template-columns: 50% 50%;
}
.efeito_ondas{
    margin-top: 0.59%;
    height: 38.54%;
    width: 100%;
}
.container1{
    height: 100vh;
    background-image: url("../img/img portal artista/Triangulo laranja.png");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: bottom ;
    background-size: auto 40vw;
}
.container1{
    height: 100%;
    width: 100%;
}
.container2{
    background-image: url('../img/img portal artista/Pinto.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.botao_amarelo{
    margin-top: 30vh;
    height: 10vh;
    width: 70%;
    font-size: 140%;
    border: 4px solid;
    border-color: black;
    background-color: var(--cor-amarela);
}
.botao_verde_2{
    margin-top: 14vh;
}
.botao_amarelo:hover{
    background-color: var(--cor-amarelo-escuro);
    border-color: rgb(56, 56, 56);
}

@media only screen and (max-width: 1026px) {
    .corpo{
        display: inline;
    }
    .container1{
        height: 50vh;
        width: 100vw;
        background-color: white;
        background-size: cover;
        border-bottom: 2px solid;
    }
    .container2{
        height: 50vh;
    }
    .botao_amarelo{
        margin-top: 9.5vh;
    }
}